#profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
}

#profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
    border: solid aquamarine;
    object-fit: cover;
    position: static;
    flex-shrink: 0;
}

#pic {
    display: flex;
    flex-direction: column;
}

#writeup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#writeup h2 {
    margin: 0px;
}
