
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    object-fit: contain;
    position: fixed;
    width: 100%;
}

header img {
    float: left;
    margin-left: 10px;
    width: auto;
    height: 50px;

}

nav {
    align-self: center;
}

a {
    text-decoration: none;
    color:black;
    cursor: pointer;
    margin: 20px;
    margin-top: 10px;
    text-align: center;
}

a:hover {
    color:  #4875B4;
}

a:last {
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 920px) {
    header {
        justify-content: space-around;
    }
}

