.project {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    width: 45%;
}

.p-title {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
}

.p-description {
    display: flex;
    font-weight: 600;
    text-align: justify;
    width: 50%;
    font-size: 18px;
}


.stack {
    display: flex;
    margin-bottom: 30px;
    font-size: 50px;
}

.devicon-express-original-wordmark {
     color: black;
}